:root {
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --icon-color: #afb1b8;
  --main-colorFont: #212121;
  --second-colorFont: #757575;
  --third-colorFont: #ffffff;
  --main-bgc: #e5e5e5;
  --dark-bgc: #2f303a;
  --grey-bgc: #f5f4fa;
  --light-bgc: #ffffff;
  --light2-bgc: #eeeeee;
}

body {
  font-family: var(--main-font), 'Raleway', sans-serif;
  color: var(--main-colorFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}

.section {
  padding-top: 94px;
}

.section:not(.hero-down-side) {
  padding-bottom: 94px;
}

/* ========= COMPONENTS ======== */
.header {
  background-color: var(--light-bgc);
  border-bottom: 1px solid #ececec;
}
.navigation-list-link,
.header-address-mail,
.header-address-phone {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.third-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer {
  padding: 60px 0;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: var(--dark-bgc);
}

.address {
  font-style: normal;
}

/* ======= END COMPONENTS ====== */

/* ========== HEADER ========== */
/* =========== LOGO =========== */
.navigation-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-colorFont);
}

.navigation-logo .text-even-theme {
  color: var(--main-color);
}

.navigation-logo .text-light-theme {
  color: var(--main-colorFont);
}

.navigation-logo .text-dark-theme {
  color: var(--third-colorFont);
}
/* ========= END LOGO ========== */

.header .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation-logo {
  margin-right: 93px;
}

.navigation-list-item {
  position: relative;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.navigation-list-link:after {
  content: '';
  display: block;
  position: absolute;
  top: 46px;
  width: 100%;
  height: 4px;
  background: transparent;
  border-radius: 2px;
}

.navigation-list-link.active:after {
  background-color: var(--main-color);
}

.navigation-list {
  display: flex;
  align-items: center;
}

.header-address-list {
  display: flex;
  margin-left: auto;
}

.header-address-phone {
  margin-left: 50px;
}

.header-address-icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.navigation-list-link {
  color: var(--main-colorFont);
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link-agency {
  color: var(--main-color);
}

.header-address-mail,
.header-address-phone {
  color: var(--second-colorFont);
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-address-mail:hover,
.header-address-mail:focus,
.header-address-phone:hover,
.header-address-phone:focus {
  color: var(--main-color);
}
/* ========== END HEADER ========== */

/* ==========   MAIN   ========== */
/* =======   HERO up side ======= */
.hero-up-side .container {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-up-side {
  background-color: var(--dark-bgc);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/bg_hero.jpg);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  color: var(--third-colorFont);
}

.hero-main-header {
  padding-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.modal-btn {
  padding: 10px 41px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--main-color);
  color: var(--third-colorFont);
  cursor: pointer;
}
/* ====== END HERO up side ====== */

/* ======   HERO down side ====== */
.hero-up-side .container {
  display: flex;
}

.hero-list {
  display: flex;
  justify-content: space-between;
}

.hero-list-item {
  max-width: 270px;
  align-items: center;
}

.hero-list-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--grey-bgc);
}

.hero-description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-colorFont);
}
/* ====   END HERO down side ==== */

/* =========   ABOUT US ========= */
.about .container {
  display: flex;
  flex-direction: column;
}

.about-img-list {
  display: flex;
}

.second-header {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-img-list-item {
  position: relative;
}

.about-img-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-img-text {
  position: absolute;
  display: block;
  top: 224px;
  padding: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-colorFont);
  background: rgba(47, 48, 58, 0.8);
}

/* =======   END ABOUT US ======= */

/* =========  OUR TEAM ========== */
.team .container {
  display: flex;
  flex-direction: column;
}

.team-list {
  display: flex;
}

.team-list-item {
  display: flex;
  flex-direction: column;
  background: var(--light-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-third-header-name,
.team-list-job {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
}

.team {
  background-color: var(--grey-bgc);
}

.team-third-header-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

.team-list-job {
  margin-bottom: 16px;
  color: var(--second-colorFont);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-list-item {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  fill: var(--icon-color);
  background-color: var(--light-bgc);
  border-radius: 50%;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--main-color);
  fill: var(--light-bgc);
}
/* =======  END OUR TEAM ======== */

/* =======  OUR CUSTOMERS ======= */
.customers .container {
  display: flex;
  flex-direction: column;
}

.customers-list {
  display: flex;
  justify-content: center;
  margin: auto;
  /* ustawić margin */
}

.customers-list-item {
  display: flex;
  justify-content: center;
}

.customers-list-item:not(:last-child) {
  margin-right: 30px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--main-color);
  fill: var(--main-color);
}
/* ===== END  OUR CUSTOMERS ===== */
/* ========== END MAIN ========== */

/* ==========  FOOTER =========== */
.footer .container {
  display: flex;
  /* flex-direction: column; */
  align-items: baseline;
}

.footer-left-side {
  margin-right: 70px;
}

.footer-center {
  margin-right: 78px;
}

.address {
  margin-top: 20px;
}

.footer-list-item:nth-child(2) {
  margin: 9px 0;
}

.footer-address-maps {
  color: var(--third-colorFont);
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-mail,
.footer-address-phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-maps:hover,
.footer-address-maps:focus,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-phone:hover,
.footer-address-phone:focus {
  color: var(--main-color);
}

.footer-third-header {
  margin-bottom: 20px;
  color: var(--third-colorFont);
}

.footer .social-list-link {
  fill: var(--light-bgc);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-link:hover,
.footer .social-list-link:focus {
  background-color: var(--main-color);
  fill: var(--light-bgc);
}
.footer-newsletter-form {
  display: flex;
}

.newsletter-email,
.newsletter-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-email {
  display: flex;
  align-items: center;
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-bgc);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .newsletter-email:hover, */
.newsletter-email:focus {
  border-color: var(--main-color);
}

.newsletter-btn {
  display: flex;
  align-items: center;
  padding: 10px 24px 10px 42px;
  width: 200px;
  font-weight: 700;
  font-size: 1.875;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--third-colorFont);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.newsletter-btn-icon {
  margin-left: 24px;
  /* margin-right: 24px; */
}

/* ========  END FOOTER ========= */

/* =========  MODAL WINDOW ========== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background: var(--light-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  opacity: 1;
}

.is-hidden .modal {
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  opacity: 0;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--light-bgc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-form-header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-colorFont);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: var(--second-colorFont);
}

.modal-form-field:not(:nth-of-type(4)) {
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: var(--light-bgc);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-form-input:focus,
.modal-form-message:focus {
  border-color: var(--main-color);
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--main-color);
}

.modal-form-message {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-text {
  margin: 20px auto 30px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-colorFont);
}

.modal-form-policy-text::before {
  content: '';
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--main-colorFont);
  border-radius: 2px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--main-color);
  border: 0.2px solid var(--main-color);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hiden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.modal-form-policy-link {
  color: var(--main-color);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 76px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-colorFont);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--main-color);
  border-radius: 4px;
}
/* =====  END MODAL WINDOW ====== */

/* =========  PORTFOLIO ========= */
.portfolio-view .container {
  display: flex;
  justify-content: center;
}

.filter-buttons-list {
  display: flex;
  margin-bottom: 50px;
}

.filter-buttons-item:not(:last-child) {
  margin-right: 8px;
}

.navigation-list-link-portfolio {
  color: var(--main-color);
}

.btn {
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-colorFont);
  background: var(--grey-bgc);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--main-color);
  color: var(--third-colorFont);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* =======  END PORTFOLIO ======= */

/* ======  PORTFOLIO VIEW  ====== */
.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-list-item {
  position: relative;
  margin-bottom: 30px;
  background: var(--light-bgc);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.overlay {
  position: absolute;
  display: flex;
  padding-left: 24px;
  padding-right: 45px;
  height: 294px;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(295px);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  margin: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: var(--third-colorFont);
  letter-spacing: 0.03em;
}

.portfolio-list-wraper {
  position: relative;
  background: var(--light-bgc);
  border-right: 1px solid var(--light2-bgc);
  border-bottom: 1px solid var(--light2-bgc);
  border-left: 1px solid var(--light2-bgc);
}

.portfolio-third-header-name {
  padding: 20px 24px 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project-description {
  padding-bottom: 20px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-colorFont);
}
/* ====  END PORTFOLIO VIEW  ==== */
/* =======  END PORTFOLIO ======= */
