.customers .container {
  display: flex;
  flex-direction: column;
}

.customers-list {
  display: flex;
  justify-content: center;
  margin: auto;
  /* ustawić margin */
}

.customers-list-item {
  display: flex;
  justify-content: center;
}

.customers-list-item:not(:last-child) {
  margin-right: 30px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--main-color);
  fill: var(--main-color);
}