.footer {
  padding: 60px 0;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: $dark-bgc;
}

.footer-left-side {
  margin-right: 70px;
}

.footer-center {
  margin-right: 78px;
}

.address {
  margin-top: 20px;
}

.footer-list__item:nth-child(2) {
  margin: 9px 0;
}

.footer-address-maps {
  color: $third-colorFont;
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-mail,
.footer-address-phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-maps:hover,
.footer-address-maps:focus,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-phone:hover,
.footer-address-phone:focus {
  color: $main-color;
}

.footer-third-header {
  margin-bottom: 20px;
  color: $third-colorFont;
}

.footer .social-list__link {
  fill: $light-bgc;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list__link:hover,
.footer .social-list__link:focus {
  background-color: $main-color;
  fill: $light-bgc;
}

.footer-newsletter-form {
  display: flex;
}

.newsletter-email,
.newsletter-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-email {
  display: flex;
  align-items: center;
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $dark-bgc;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:focus {
  border-color: $main-color;
}
}