.navigation-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-colorFont);
}

.navigation-logo .text-even-theme {
  color: var(--main-color);
}

.navigation-logo .text-light-theme {
  color: var(--main-colorFont);
}

.navigation-logo .text-dark-theme {
  color: var(--third-colorFont);
}
