.logo {
  margin-right: 93px;
  font-family: $second-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $main-colorFont;

  .logo--accent {
    color: $main-color;
  }

  .logo--light-theme {
    color: $main-colorFont;
  }
  
  .logo--dark-theme {
    color: $third-colorFont;
  }
}