.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-list-item {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  fill: var(--icon-color);
  background-color: var(--light-bgc);
  border-radius: 50%;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--main-color);
  fill: var(--light-bgc);
}